In [ ]:
import pandas as pd

mylist = [2,3,4,5,6]
mydic = {'name': 'Mg Mg', 'phone':'123456789'}
data = {
  "Name": ["Mg Mg", "Ma Ma", 'Aung Aung'],
  "Phone": [5034, 40456, 45765],
  "Address":['yangon', 'manadalay', 'yangon']
}

df = pd.DataFrame(data, index=['no1', 'no2', 'no3'])
print(df)

df[['Name', 'Address']]

In [ ]:
import pandas as pd
mydata = pd.read_csv('data.csv')
excel_data = pd.read_excel('data.xlsx')

print(excel_data)

print(mydata.head(10))#top 5 rows
print(mydata.tail(6))# end 5 rows
mydata['Calories'].head() #select col

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('mydb.db')
mydata = pd.read_sql_query("SELECT * FROM contact", conn)

print(mydata)

   id       name    phone   address
0   8  Aung Aung  4957239  Mandalay
1   9    Aye Aye   454545       YGN